<!-- <template name="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Home</h1>
        <p>This is the index path.</p>
      </div>
    </div>
  </div>
</template> -->

<!-- <template name="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Home</h1>
        <p>This is the index path.</p>
      </div>
    </div>
  </div>
  {{> newPost}}
</template> -->

<!-- <template name="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Home</h1>
        <p>This is the index path.</p>
      </div>
    </div>
  </div>
  {{#each post}}
    <p>{{this.image}}</p>
  {{/each}}
  {{> newPost}}
</template> -->

<template name="home">
  <div class="container">
    <div class="row">
      {{#each post}}
        {{> postPartial}}
      {{/each}}
    </div>
  </div>
  {{> newPost}}
</template>